<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//FR"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>

<style type="text/css">

    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .offer__container {
        width: 800px;
        margin: auto;
        position: relative;
        padding-top: 40px;
    }

    .offer__header {
        padding-bottom: 30px;
        text-align: left;
    }

</style>

<body>

<div class="offer__container">

    <div class="offer__header">
        <img src="{{ absolute_url(asset('build/static/logo-privacia.png')) }}" alt="logo Privacia"
             style="width: 300px;">
    </div>

</div>

</body>

</html>
